@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Mina&family=Poppins:wght@300&family=Vollkorn:ital@1&display=swap');

html{
  overflow: hidden;
}

body {
  background: white !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 100% !important;
  font-family: 'Mina', sans-serif !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}